{% extends 'base.html' %}

<!DOCTYPE html>
{% load static %}
<div class="header">
	{% block header %}
		<div class="container">
			<div class="logo">
				<a href="/"><span>Re</span>sale</a>
			</div>
			<div class="header-right">
				<a class="account" href="/login">login</a>
			</div>
		</div>	
	{% endblock%}
	</div>

{% block body %}
<body>
	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Reset Your Password</h1>
						</div>
						<div class="signin">
							<form method='POST' action='/forgot_password/{{token}}/'>
							{% csrf_token %}
							<div class="log-input">
								<div class="log-input-left">
								   <input type="password" class="lock" name='password' placeholder="Enter Your Password" required />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="log-input">
								<div class="log-input-left">
								   <input type="password" class="lock" name='password1' placeholder="Confirm Your Password" required />
								</div>
								<div class="clearfix"> </div>
							</div>
                            <input type="hidden" name="user_id" value="{{user_id}}" >
							<input type="submit" value="Reset">
						</form>	 
						</div>
						<div class="new_people">
							<a href="/login">Signin Now</a>
						</div>
					</div>
				</div>
			</div>
			<!--footer section start-->
		{% block footer %}
			<footer class="diff">
			</footer>
		{% endblock %}
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Developed by <a href="/" >Kashif.</a></p>
			</footer>
        <!--footer section end-->
	</section>
	{% endblock %}
	
</body>
</html>