{% extends 'base.html' %}

<!DOCTYPE html>
{% load static %}
<div class="header">
	{% block header %}
		<div class="container">
			<div class="logo">
				<a href="/"><span>Re</span>sale</a>
			</div>
			<div class="header-right">
				<a class="account" href="register">Signup</a>
			</div>
		</div>	
	{% endblock%}
	</div>

{% block body %}
<body>
	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Reset Your Password</h1>
						</div>
						<div class="signin">
							<form method='POST' action='password_reset'>
							{% csrf_token %}
							<div class="log-input">
								<div class="log-input-left">
								   <input type="text" class="resetemail" name='email' placeholder="Your Email" required />
								</div>
								<div class="clearfix"> </div>
							</div>
							<input type="submit" value="Send Email">
						</form>	 
						</div>
						<div class="new_people">
							<h2>For New People</h2>
							<p>Having hands on experience in creating innovative designs,I do offer design 
								solutions which harness.</p>
							<a href="register">Register Now!</a>
						</div>
					</div>
				</div>
			</div>
			<!--footer section start-->
		{% block footer %}
			<footer class="diff">
			</footer>
		{% endblock %}
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Developed by <a href="/" >Kashif.</a></p>
			</footer>
        <!--footer section end-->
	</section>
	{% endblock %}
	
</body>
</html>